{#
/**
 * Block Name: HomeRock
 *
 */
#}
<link rel="stylesheet" href="{{ site.theme.link }}/blocks/exploration-rock/assets/exploration-rock.css">

<div class="layer roche roche_{{ block.id }} roche_{{ fields.rock_type }} roche_{{ fields.color }}" data-depth="{{ fields.depth }}">
    <a href="{{ fields.project_link }}">
        <div class="roche-img" style="background-image: url('{{ site.theme.link }}/images/mini_roche_{{ fields.rock_type }}.png')">
            <span class="text">{{ fields.title }}</span>
        </div>
    </a>
</div>

<style>
    .roche_{{ block.id }} {
        bottom: {{ fields.position_bottom }}%;
        right: {{ fields.position_right * -1 }}%;
    }

</style>
