{#
/**
 * Block Name: Rocher
 *
 */
#}

{# todo: add css file#}
<link rel="stylesheet" href="{{ site.theme.link }}/blocks/event-rock/assets/rocher.css">

<div id="rocher" class="rocher" style="background-image: url('{{ site.theme.link }}/images/ampoule.jpeg');">
    <div class="rocher-content" style="background-image: url('{{ site.theme.link }}/images/roche.png')">
        <h1 class="rocher-title">{{ fields.title }}</h1>
        <p>{{ fields.description }}</p>
    </div>
</div>

<style type="text/css">
    #rocher {
    {% if fields.background_color == "red" %}
        filter: hue-rotate(-462deg);
    {% elseif fields.background_color == "blue" %}
        filter: hue-rotate(-200deg);
    {% endif %}
    }


</style>

