{% if menu %}
	<div class="nav-menu">
		<div id="nav-menu-icon" onclick="activateMenu()" class="nav-menu-icon">
			<svg
					width="36.011681mm"
					height="14.363094mm"
					viewBox="0 0 36.011681 14.363094"
					>
				<g
						transform="translate(-58.021206,-120.43598)">
					<g
							transform="translate(45.595238,-139.33334)">
{#						<text x="14" y="256" style="#}
{#							font-size: 11px;#}
{#						">MENU</text>#}
						<circle
								r="7.1815472"
								cy="266.95087"
								cx="30.238091"
								id="path14"
								style="stroke-width:0.26458332" />
						<circle
								r="2.6930804"
								cy="267.09262"
								cx="45.744568"
								id="path14-3"
								style="stroke-width:0.09921875" />
						<circle
								r="2.6930804"
								cy="266.9509"
								cx="15.119048"
								id="path14-3-7"
								style="stroke-width:0.09921875" />
					</g>
				</g>
			</svg>

		</div>
		<div id="nav-menu-items-wrapper" class="nav-menu-items-wrapper">
			<div id="nav-menu-main-items" class="nav-menu-main-items nav-menu-main-items--open nav-menu-items">
				{% for item in menu.get_items %}
					{%  if item.current is same as (false) %}
						{%  if item.children|length > 0 %}
							<div class="nav-menu-item"><a href="#" onclick="toggleSubMenu()">{{ item.title }} <span class="dashicons dashicons-arrow-right-alt2"></span></a>
							</div>
						{% else %}
							<div class="nav-menu-item"><a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
							</div>
						{% endif %}
					{% endif %}
				{% endfor %}
			</div>
			<div id="nav-menu-sub-items" class="nav-menu-sub-items nav-menu-items">
				{% for item in menu.get_items %}
					{%  if item.children|length > 0 %}
						{% for subItem in item.children %}
							<div class="nav-menu-item"><a target="{{ subItem.target }}" href="{{ subItem.link }}">{{ subItem.title }}</a>
							</div>
						{% endfor %}
					{% endif %}
				{% endfor %}
				<div class="nav-menu-item"><a href="#" onclick="toggleSubMenu()"><span class="dashicons dashicons-arrow-left-alt2"></span> Retour</a>
				</div>
			</div>
		</div>
	</div>
{% endif %}

