{% block html_head_container %}
    {% include 'html-header.twig' %}
    <link rel="stylesheet" href="{{ site.theme.link }}/static/style/contact-page.css">
    </head>
{% endblock %}

<body class="{{body_class}}">
<div class="contactPage" style="background-image: url('{{ site.theme.link }}/images/wall.jpg');">
    <header>
        {% include 'mdf-menu.twig' %}
    </header>
    {% for post in posts %}
        <article id="post-{{post.ID}}" class="entry {{post.class}}">
            <div class="entry-content">
                <h1 class="contactPage-title">{{ post.title }}</h1>
                <div class="contactPage-content">{{post.content}}</div>
            </div>
        </article>
    {% endfor %}
    <div class="contactPage-bottomImage">
        <img src="{{ site.theme.link }}/images/img-contact.jpg" alt="">
    </div>

</div>

<script src="{{ site.theme.link }}/static/js/navigation.js"></script>
{#<script src="{{ site.theme.link }}/static/js/events-page.js"></script>#}
{% block footer %}
    <footer id="footer">
        {% include 'footer.twig' %}
    </footer>
    {{ function('wp_footer') }}
{% endblock %}
</body>
</html>
