<!doctype html>
<html lang="fr">
<head>
    <meta charset="{{ site.charset }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="profile" href="https://gmpg.org/xfn/11"/>
    <link rel="stylesheet" href="{{ site.theme.link }}/static/style/home-page.css">
    <link rel="shortcut icon" href="{{ site.theme.link }}/images/icons/favicon.ico" />
    {{function('wp_head')}}
</head>
<body onmousemove="mouseMove(event)" style="background-image: url('{{ site.theme.link }}/images/fonds-accueil.jpeg')">

<!--Exploration environment -- hidden behind -->
<div class="exploration" id="exploration" style="z-index: 1; position: absolute; cursor: none"
     data-pointer-events="true">

    <div class="layer fonds" data-depth="0"
         style="background-image: url('{{ site.theme.link }}/images/fonds_exploration_v3.jpeg')">

    </div>

    {% for post in posts %}
        {{post.content}}
    {% endfor %}
</div>

<svg class="exploration" id="svg" style="z-index: 5; position: absolute; pointer-events: none">
    <radialGradient id="gradient" x2="1" y2="1">
        <stop offset="0%" stop-color="transparent"/>
        <stop offset="60%" stop-color="transparent"/>
        <stop offset="95%" stop-color="black"/>
        <stop offset="100%" stop-color="black"/>
    </radialGradient>
    <defs>
        <mask id="mask" x="0" y="0" width="100%" height="100%">
            <rect x="0" y="0" width="100%" height="100%" fill="#fff"></rect>
            <circle id="circle-mask" r="300"></circle>
        </mask>
    </defs>
    <rect width="100%" height="100%" mask="url(#mask)" ></rect>
    <circle id="circle-shadow" cx="831" cy="16" r="300"
            style="fill: url(#gradient) transparent; stroke-width: 68px; stroke: black;"></circle>
</svg>


<!--onload home page -->
<header>
    <div class="nav">
        <div class="nav-title">
            <img class='nav-title-logo' src="{{ site.theme.link }}/images/logo-titre.png"/>
{#            <p class="citation"><i>'Un projecteur sur le front,#}
{#                Comme au casque du mineur, <br>#}
{#                Artiste mineur de fond' <span class="author">C. Nougaro</span></i>#}
{#            </p>#}
        </div>
        {% include 'mdf-menu.twig' %}
    </div>
</header>
<section class="homepage">
    <div class="homepage-explore" onclick="explore()">
        <svg
                width="249.67998mm"
                height="137.63052mm"
                viewBox="0 0 249.67998 137.63052"
                version="1.1"
                id="svg8">
            <g
                    id="layer1"
                    transform="translate(42.016094,-51.025117)">
                <g
                        transform="translate(-25.535279,-29.967628)"
                        id="layer1-3">
                    <path
                             class="light-beam"
                        style="fill:transparent;stroke-width:0.14111112"
                            d="m 13.926967,168.14277 c -2.341432,-2.32023 -5.2260202,-6.62591 -0.01632,-7.42377 5.688197,-2.05561 11.131812,-4.79375 16.93764,-6.48901 5.159481,3.20779 -3.553439,6.18367 -6.294153,7.40631 -4.026996,1.3571 -6.402991,6.03167 -10.023319,7.14929 z"
                            id="path233"
                    />
                    <path
                             class="light-beam"
                        style="fill:transparent;stroke-width:0.14111112"
                            d="m -12.009943,149.21325 c -3.498328,1.01075 -5.351443,-4.33115 -4.058007,-6.78692 9.6715858,-0.46312 19.3689857,-0.008 29.042677,0.33766 3.568514,0.96468 9.909337,-2.09792 11.47098,2.06394 -0.677653,4.73456 -7.704372,1.49538 -11.129038,2.49469 -6.7465177,-0.12341 -13.30804184,1.95095 -20.0645154,1.9767 -1.7519542,0.0291 -3.5179306,0.12049 -5.2620966,-0.0861 z"
                            id="path231"
                    />
                    <path
                             class="light-beam"
                        style="fill:transparent;stroke-width:0.14111112"
                            d="m 20.657277,129.01436 c -5.703229,-1.47794 -10.467815,-5.13984 -15.9455598,-7.20827 -4.55094928,-2.07224 -9.3204048,-3.67422 -13.6245925,-6.27028 -5.2896737,-0.9758 -0.1566147,-10.30874 3.25618,-4.7472 4.92932349,2.53823 9.081453,6.48256 14.4592392,8.17112 4.6072001,2.14356 8.1941461,6.07455 13.1500181,7.54578 2.476335,1.17999 1.091688,3.33351 -1.295285,2.50885 z"
                            id="path229"
                    />
                    <path
                             class="light-beam"
                        style="fill:transparent;stroke-width:0.14111112"
                            d="M 28.622307,111.00101 C 22.19763,107.61958 15.229031,104.84901 10.262351,99.316031 6.4772048,95.598249 2.3022882,92.298999 -1.5532046,88.684374 -4.317672,86.769853 -4.4788206,81.669036 -0.86261798,81.103189 1.9747175,80.317503 2.8159847,83.937423 4.8306526,85.212653 9.4865979,89.99001 14.834053,94.051702 19.033048,99.264661 c 3.174349,3.085839 6.637855,5.869679 9.943507,8.785219 2.856909,0.23208 2.755077,4.51305 -0.354248,2.95113 z"
                            id="path227"
                    />
                    <path
                             class="light-beam"
                        style="fill:transparent;stroke-width:0.14111112"
                            d="m 43.555717,103.02926 c -4.82276,-4.121846 -6.80055,-10.327454 -9.994468,-15.610625 -4.542373,-4.233683 6.939217,-8.922825 6.916749,-3.23612 0.929828,5.928388 2.064061,11.916454 4.65653,17.363045 0.623137,1.00432 -0.692538,1.89544 -1.578811,1.4837 z"
                            id="path272"
                    />
                    <path
                        style="fill:#000000;stroke-width:0.14111112"
                            d="m 135.66283,218.56238 c -13.22084,-0.7976 -26.55838,-0.98572 -39.536927,-3.90078 -8.820279,-1.2728 -17.668457,-2.66646 -26.427846,-4.34042 -11.693849,-2.25434 -23.277382,-6.02647 -33.383398,-12.34654 -5.132231,-4.19019 -6.350104,-10.90036 -4.624236,-17.08887 5.245455,-5.90719 11.494868,-10.87104 17.645784,-15.84408 -7.940234,-4.63245 -15.624336,-11.04189 -17.88181,-20.38328 -3.908402,-6.1512 -1.940103,-14.08501 -0.79917,-20.79175 2.675255,-6.23438 6.930936,-12.39701 13.240866,-15.39121 7.040409,-3.41858 15.022635,-4.19512 22.675673,-3.56815 7.105561,1.07115 16.575886,3.03466 22.513211,-2.12848 4.039231,-4.035928 7.442659,-7.291905 12.076533,-10.343035 4.58933,-1.7153 10.34697,-6.812637 16.58025,-7.270122 11.86924,-3.797604 24.57715,-3.282973 36.86324,-2.575359 7.61834,2.036289 16.04744,2.474956 22.16754,8.108041 9.01905,5.473272 18.57287,11.319305 23.40985,21.111025 6.37904,7.90013 10.03915,17.52979 11.40819,27.53403 0.17612,5.44585 7.3504,16.68099 4.04602,18.51374 -7.32931,-2.60718 -16.90488,-7.38117 -24.01869,-4.71355 6.46097,2.9142 15.98991,2.87945 22.96505,6.93195 7.45174,4.82152 15.50506,10.68481 18.35878,19.5168 1.78981,10.29325 -6.04165,19.26493 -14.54263,23.85346 -7.81225,3.50752 -16.13527,5.44261 -24.21658,8.25102 -18.65041,5.05369 -38.06401,6.52656 -57.29941,6.92645 l -1.22025,-0.0609 z m 87.16966,-24.84235 c 3.93458,-8.99301 -3.37796,-17.75631 -12.35697,-18.80225 -14.33984,-3.74735 -29.39215,-2.84767 -44.07012,-2.79282 -18.75436,0.99094 -37.51336,1.98419 -56.28369,2.77216 -16.38206,2.99492 -33.092631,3.1283 -49.609893,5.08939 -8.849696,1.37738 -17.904671,2.99419 -26.440827,5.19502 4.833837,3.77074 14.354871,-2.33812 21.158507,-2.02171 18.738499,-3.38752 37.932689,-2.62993 56.656103,-6.13195 23.32976,-0.79836 46.65306,-2.31078 69.9893,-2.65773 11.46475,0.66723 23.98036,-0.2032 34.21361,5.83337 6.70068,3.32061 6.13184,11.71283 3.61852,17.55723 1.12748,-1.27232 2.6448,-2.32064 3.12546,-4.04071 z M 58.132697,169.8191 c 9.928704,-1.38264 20.003029,-3.65872 28.42346,-9.37922 -5.241217,-1.15727 -8.641189,3.80467 -13.51704,4.79165 -6.644487,3.44605 -14.871799,1.72339 -21.323456,4.1126 2.004474,0.91864 4.294826,0.7191 6.417036,0.47497 z m 4.96836,-8.03433 c 7.066229,-2.49882 13.698404,-7.58391 18.115948,-12.89294 3.41065,-4.18646 4.575124,-9.72976 3.362743,-15.25257 -1.13256,-8.07345 -7.437721,-15.75983 -14.747551,-18.60599 -6.957029,-1.26226 -13.934622,-5.68193 -20.87168,-3.84424 -6.516357,3.55938 -12.798435,9.27591 -13.41897,17.2025 -0.946148,8.89832 -0.882444,18.68048 6.03442,25.3425 5.706983,5.83842 13.134973,10.06448 21.52509,8.05074 z m -2.15656,-7.55249 c -4.655484,0.75404 -7.639385,-2.5088 -0.984334,-1.99097 7.267796,-1.25466 14.275529,-5.87495 14.869432,-13.81474 -0.696363,-4.32054 1.364365,-11.5235 2.779213,-2.96933 3.347649,8.80496 -3.215969,17.65137 -12.14677,18.71333 -1.499822,0.15735 -3.014432,0.18011 -4.517541,0.0617 z m 5.01795,-12.57466 c -6.652948,-5.39884 9.392833,-15.19742 2.985161,-5.61896 1.941728,2.49989 0.118428,6.64129 -2.985161,5.61896 z m -12.28517,-3.10109 c -5.164664,0.59312 -13.411572,-2.00445 -7.08262,-7.29175 3.726488,0.28765 18.320158,3.29675 11.318169,7.43543 -1.412669,-0.014 -2.826773,-0.0259 -4.235549,-0.14368 z m 5.28089,-8.34895 c -4.300174,-2.41256 -10.671854,-10.75957 -2.317896,-12.29196 0.348917,2.43559 7.999846,13.40918 2.317896,12.29196 z m 27.81656,26.12692 c 9.054144,-6.4812 13.817703,-19.1647 9.754794,-29.81802 -2.319095,-9.31172 -11.682421,-15.23578 -20.885544,-15.8217 6.281429,4.53777 14.275592,8.82735 16.193837,17.23381 2.542009,10.33823 -0.323194,21.57635 -7.058247,29.68605 l 0.652445,-0.37604 z"
                            id="path129"
                    />
                    <path
                        class="light-beam"
                        style="fill:#000000;stroke-width:0.14111112"
                            d="m 60.944499,154.23226 c -1.663977,0.27396 -7.956382,-0.68311 -3.701416,-1.8071 4.726854,0.12114 9.006193,-2.28958 13.021882,-4.47736 2.785387,-2.23982 3.512259,-6.05331 4.561385,-9.289 0.120177,-2.50383 -0.142337,-5.09967 0.317167,-7.53392 3.194695,0.68894 2.877967,7.34763 3.062907,10.49264 0.13447,4.66854 -2.859507,8.57845 -7.02027,10.41656 -3.030896,1.95771 -6.693648,2.55085 -10.241655,2.19818 z"
                            id="path309"
                    />
                    <path
                         class="light-beam"
                        style="fill:#000000;stroke-width:0.14111112"
                            d="m 65.962448,141.6576 c -2.859533,-3.54841 -0.403802,-8.4328 3.40127,-10.04967 4.126359,0.24729 -3.175812,4.40369 0.406936,6.80628 0.603079,1.93825 -2.420299,4.0618 -3.808206,3.24339 z"
                            id="path307"
                    />
                    <path
                         class="light-beam"
                        style="fill:#000000;stroke-width:0.14111112"
                            d="m 53.677277,138.55651 c -2.915262,-1.52475 -10.382971,1.45958 -9.10976,-3.94301 0.426966,-6.31787 7.745641,-1.60871 11.38349,-1.27039 2.796579,0.99168 6.525679,4.20023 1.935482,5.35679 -1.403866,-0.0146 -2.809417,-0.0243 -4.209212,-0.14339 z"
                            id="path305"
                    />
                    <path
                             class="light-beam"
                        style="fill:#000000;stroke-width:0.14111112"
                            d="m 58.958167,130.20758 c -2.911606,-1.87162 -6.811333,-6.09942 -6.543018,-9.36619 2.433384,-4.24166 5.554189,-3.08677 6.038453,1.27426 0.765062,1.65909 5.029703,9.56806 0.504565,8.09193 z"
                            id="path303"
                    />
                </g>
            </g>
        </svg>

        <span>Explorez la mine</span>
    </div>
    <div class="homepage-left">
        <img src="{{ site.theme.link }}/images/roche_gauche.png" alt="">
    </div>
    <div class="homepage-right" style="background-image: url('{{ site.theme.link }}/images/roche.png')">
        {% if nextDate %}
        <a href="{{ nextDateLink }}" target="_blank">
            <div class="homepage-right-event-container">
                <h2>Prochaine date</h2>
                <div class="homepage-right-event">
                    <div class="homepage-right-event-image">{{ nextDateImage }}</div>
                    <div class="homepage-right-event-content">
                        <div class="homepage-right-event-content-title">
                            <h3>{{ nextDate.event_name }}</h3>
                        </div>
                        <div class="homepage-right-event-content-date">
                            <p>{{ nextDate.event_start_time|date("H\\hi") }}, {{ nextDate.event_start_date |date("j F Y") }}</p>
                        </div>
                        <div class="homepage-right-event-content-location">
                            <p>{{ nextDateLocation }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {% endif %}
    </div>


</section>

<script src="{{ site.theme.link }}/static/js/librairies/parallax-js.3.1.0.min.js"></script>
<script src="{{ site.theme.link }}/static/js/homepage.js"></script>
<script src="{{ site.theme.link }}/static/js/navigation.js"></script>
{% block footer %}
    <footer id="footer">
        {% include 'footer.twig' %}
    </footer>
    {{ function('wp_footer') }}
{% endblock %}
</body>
</html>

