{% block html_head_container %}
        {% include 'html-header.twig' %}
        <link rel="stylesheet" href="{{ site.theme.link }}/static/style/project-page.css">
    </head>
{% endblock %}

    <body class="{{body_class}}">
        <div class="projectPage">
            <header>
                {% include 'mdf-menu.twig' %}
            </header>
            {% for post in posts %}
                <article id="post-{{post.ID}}" class="{{post.class}}">
                <div class="entry-content">
                    {{post.content}}
{#                    <div class="projectPage-content"></div>#}
                </div>
                </article>
            {% endfor %}
        </div>

    <script src="{{ site.theme.link }}/static/js/navigation.js"></script>
    </body>
</html>
